[2019-08-29 10:03] maalbadri opened #99 "Antechamber mm optimise step"
Hi 👋

For large systems, it looks like the bottleneck will be at the MM optimisation step which is currently done serially in Antechamber. Can you change this to run in parallel?

[2019-09-20 14:05] CRingrose94 commented on #99
Antechamber would have to add a parallelisation method themselves. We parallelise what we can, but this one can't be done by us. Thanks.

[2019-09-20 14:05] #99 closed

[2020-09-08 00:19] takenbymood opened #144 "PSI4 density option permitted, but does nothing"
The code for "density" calculations in the psi4 engine is currently commented out. The program does not throw any error until it can't find the expected .wfx file output from the density step during the charges step.

[code]

It would be great to be able to use PSI4 for density calculations (g09 licenses etc etc), but if that's not an option right now it would still be nice if the program threw so

[2020-09-13 20:03] yurivict opened #145 "setup.py doesn't have "require" clause"
You should list all required dependencies there.

There are at least these dependencies that should be listed: numpy, scipy, networkx, pandas.

[2020-09-15 09:37] CRingrose94 commented on #144
Unfortunately there is currently no way of automatically generating a box of the correct size for the density stage with PSI4. We have experimented with adding a method which fits a box around the molecule but it was too temperamental and ultimately better disabled.

I'll add an error message which triggers at the beginning of the run to show this. Thanks

[2020-10-06 16:17] CRingrose94 commented on #145
Hi yurivict, unfortunately not all dependencies are available through PyPI so we have elected to list dependencies on our help page, or through the conda-forge install (which will install them for you). Thanks

[2020-10-06 16:17] #145 closed

[2020-12-22 01:27] Ajaykhanna opened #214 "Assertion Error in dihedral.py"
Hi there, I've been trying to parameterize ethanol molecule using qubekit but I keep getting this error:
**Qubekit-Version: 2.6.3**  (PyPI, Sep.2019)
**Torsiondrive-Version: 0.9.5** (https://github.com/jthorton/torsiondrive)

**File "/home/****/anaconda3/envs/qubekit/lib/python3.7/site-packages/QUBEKit/dihedrals.py", line 1063, in plot_results
    assert len(angles) == len(self.qm_energy)
Assertio

[2021-01-06 10:57] jthorton opened #215 "Add versioneer support"
This will give users the ability to get the QUBEKit version by importing the package.

[2021-01-06 11:00] jthorton opened #216 "PSI4 error when not installed"
When trying to make psi4 input files using the `PSI4` class the init fails when checking if psi4 is installed, we probably should only fail with this error if the user requested an action that needs psi4 look building and executing an input file. This would be consistent with the `Gaussian` engine.

[2021-01-06 12:12] jthorton opened #217 "Add Fragmentation support"
To help speed up torsion drives on larges molecules we should use a fragmentation scheme like that in [fragmenter](https://github.com/openforcefield/fragmenter), we should try and build an interface to fragmenter first to see if this fits our needs.

[2021-01-06 12:14] jthorton opened #218 "QCArchive support"
To add the ability to store and reuse QM calculations we should support the use of QCArchive, we would require an interface to deposit and search for calculations, this could also help speed up QM calculations by taking advantage of the parallel computing offered by QCFractal.

[2021-01-20 06:44] Ajaykhanna commented on #214
Hi, I was able to solve this "Assertion Error" by making some changes to the dihedral.py file:
### On Line#1064 I changed this ↓:
**`angles = list(range(self.molecule.dih_start, self.molecule.dih_end + self.molecule.increment, self.molecule.increment))`**
### to this **↓**
**`angles = list(range(self.molecule.dih_start + self.molecule.increment, self.molecule.dih_end + self.molecule.increment, sel

[2021-01-22 11:50] jthorton opened #219 "Add QForce hessian fitting support"
We plan to add the ability for users to use hessian fitting provided via [QForce](https://github.com/selimsami/qforce) instead of the modified seminario step. This issue will track the progress of this implementation.

Notes:
QForce install is currently only on pip and requires the following packages, numba means that python must be <3.9.
install-requires =
    scipy
    numpy
    ase
    matplotl

[2021-01-22 14:25] jthorton opened #220 "General QM support through QCEngine"
We currently use QCEngine for optimization and hessian calculations, but only for very specific settings (PSI4 and Geometric) it would be good to allow more QC programs via qcengine for optimizations, hessians and torsiondrives. The single point calculations used to derive charges and LJ parameters are more specialized since they involve the use of an implicit solvent so we can be more restrictive

[2021-01-25 16:17] jthorton opened #222 "Change MM optimise to initial optimise"
It might be a good idea to change the MM optimise stage to be a general initial optimisation stage which aims to help speed up the full QM optimisation. If we allow the use of QCEngine at this stage we get access to QM/MM/ML methods and semi-empirical methods including xtb this way we expand the range of usable methods while keeping the current options and use a single interface which should keep

[2021-01-28 10:51] jthorton opened #223 "Generate unique atom names"
When an input is given that has no unique atom names we should generate them automatically as the final forcefield currently made generates an error when loaded into openmm. For example this pdb
[code]
will make the following XML
[code]

which will give the following error in openmm
[code]

[2021-01-28 13:01] jthorton opened #224 "Torsiondrive speed"
Currently, we collect the torsion QM data using the CLI interface to torsiondrive and we run each grid point optimisation in series which can be quite slow even for simple small molecules. Here I want to collect together some ideas on how we can try and improve this.

# QCArchive support
We plan to add this any way to allow us to reuse calculations, this framework also would allow us to paralleliz

[2021-01-29 17:26] djcole56 commented on #224
I think pretty much all of the above offers improvement in its own way. I don't have a huge problem with the serial optimisation, as one can instead trivially parallelise molecules across processors (1 molecule in 12 hours sounds bad, but 100 molecules in 12 hours is then easy to do), but see the plus sides. I don't think I have anything to add, though I need to pick your brain on how supplying di

[2021-02-08 15:19] CRingrose94 opened #227 "Issues with Installation"
There are currently a few issues with installation due to custom forks; conda-forge migrations of other packages; and rdkit. Current list of issues:

* RDKit will not install properly if using python=3.7
* OpenMM and OpenForceField aren't being pulled properly due to migrations to conda-forge. Currently need to be installed from omnia channel.
* Geometric and Torsiondrive need to be installed from

[2021-02-15 10:55] #215 closed

[2021-02-17 10:45] jthorton opened #231 "Calculate molecule net charge"
While we do have a CLI option for users to supply a net charge however most of the time this can be calculated from the formal charges on the atoms returned from the rdkit molecule object, as done [here](https://github.com/openforcefield/openff-toolkit/blob/17a5427e56ca18bbb72c5528ddea8675bd022194/openff/toolkit/topology/molecule.py#L3784) in the openff-toolkit.

[2021-02-17 10:59] jthorton opened #232 "Ligand rework"
It would be great if we could reduce the complexity of the ligand class which is currently a catch-all object which holds everything about the ligand at all times.

## Improvements

- [x] Add properties to information which can be calculated quickly and does not need to be stored
- [x] Work out a minimal data structure which can be used to calculate all currently stored properties
- [x] Work out a

[2021-02-23 15:06] jthorton opened #236 "Logging Errors"
When writing tests for the run.py file logging can cause them to hang. This is due to each stage function in the execute class looking for a log file to append messages to but these are not present. It might be best to have the level of logging be an execute class variable like `verbose` so we can toggle it off for testing.

[2021-02-23 17:40] #223 closed

[2021-03-01 18:26] jthorton opened #239 "OpenFF Parametrisation Error"
When using Openff as the parent forcefield and a pdb as the molecule input file the molecule can be miss-typed. I think this is due to the aromaticity model not being set as required by openff, see [here](https://github.com/openforcefield/openff-toolkit/blob/efb6985596605f986319a70bfd64037723b0d8f6/openff/toolkit/utils/toolkits.py#L2950) for the processing steps done before converting to an openff

[2021-03-02 11:51] jthorton commented on #239
After some digging, this is the result of rdkit not attempting to work out bond orders from the PDB format so the aromaticity is incorrect when we pass the molecule to openff. [Here](https://github.com/rdkit/rdkit/issues/1031) is a related issue on rdkit and this is why the openff toolkit does not allow pdb as input with rdkit, it only allows this input if you have openeye which tries to work out

[2021-03-19 11:46] CRingrose94 commented on #236
Fixed now that log file is given as an argument to append_to_log(). Now, when no log file is found, logging just stops.

[2021-03-19 11:46] #236 closed

[2021-03-29 10:48] jthorton commented on #231
This is now fixed.

[2021-03-29 10:48] #231 closed

[2021-03-29 10:48] jthorton commented on #222
Implemented in #238.

[2021-03-29 10:48] #222 closed

[2021-03-29 10:49] jthorton commented on #220
Custom gaussian qcengine support added in #238 we now just need to add implicit solvent support.

[2021-03-29 10:50] jthorton commented on #216
the PSI4 engine is now removed in favour of qcengine so this is no longer an issue.

[2021-03-29 10:50] #216 closed

[2021-04-07 14:38] jthorton commented on #224
Just a reminder that I have added support for the torsiondrive API which now allows torsion grid point optimisations to run in parallel. I need to come back to multiple input conformer support once we improve the conformer generation method using RDKit.

[2021-04-09 15:04] CRingrose94 opened #256 "Missing v-site test cases"
Need to add test cases for (non-)symmetric sites with all variations of site vectors.

Currently testing only covers halogens; needs to also cover alcohols (symmetric and non-symmetric), amines, etc.

Once MBIS is implemented, testing should be much easier just using PSI4, rather than all the Chargemol output files.

[2021-04-09 16:01] #239 closed

[2021-04-20 10:50] jthorton opened #260 "ONETEP support via ASE"
It would be good to add support to automatically run the ONETEP calculations via [ase](https://wiki.fysik.dtu.dk/ase/ase/calculators/onetep.html?highlight=onetep).  We should be able to then interface the output with chargemol to get non-bonded parameters and fit virtual sites.

[2021-04-20 13:38] jthorton opened #261 "MBIS tests"
In a recent PR #259 we added an interface to MBIS but the tests were left offline due to a conda environment issue. This caused psi4 to install with a missing dependency which caused all psi4 related tests to fail and seems to affect the newest dev versions of psi4 which are needed for the mbis functionality. Locally I was able to get around this by making an environment with an older version of p

[2021-05-12 08:17] ph7klw76 commented on #227
conda install -c omnia openforcefield keep resulting in conflicts

[2021-05-12 08:50] jthorton commented on #227
Hi @ph7klw76, If you are using QUBEKit from the master branch we now use the new version of openforcefield which can be installed using `conda install openff-toolkit -c conda-forge`. If you are using mac this is known to have conflicts with Psi4 which can be avoided by use the base version `conda install openff-toolkit-base -c conda-forge` however this will not install ambertools which might cause

[2021-05-12 10:24] ph7klw76 opened #268 "Optimisation always fails even for a simple methane molecule"
Optimisation always fails even for a simple methane molecule which has been pre-optimized. No idea whats wronng

Warning: Unable to load toolkit 'OpenEye Toolkit'. The Open Force Field Toolkit does not require the OpenEye Toolkits, and can use RDKit/AmberTools instead. However, if you have a valid license for the OpenEye Toolkits, consider installing them for faster performance and additional file

[2021-05-12 10:56] jthorton commented on #268
Hi, @ph7klw76 thanks for testing out QUBEKit sorry that it is not going well, how did you install QUBEKit was it using the conda-forge package? If so please can you update to master on github and try again? We will be doing a new release soon on conda-forge but until then master is probably the most reliable package.

To update to master please use these commands
[code]

[2021-05-17 12:47] ph7klw76 commented on #268
I will wait for the new release on conda-forge. If I clone from Github, I have a few pages of conflicts with different modules required to run the qubekit.

[2021-05-17 12:57] ph7klw76 commented on #268
The step i used to install this package
conda create -p ~/QUBEKit -c conda-forge -c psi4/label/dev psi4 openff-toolkit python=3.6
conda install -c omnia openmm python=3.6
conda install -c conda-forge geometric
conda install -c conda-forge qcengine
conda install -c rdkit rdkit
conda install -c conda-forge torsiondrive
conda install -c conda-forge qubekit

that results in File "/Q/lib/python3.6/site

[2021-07-20 13:43] jthorton opened #272 "Negative Force Constants"
In some cases, we can calculate negative force constants using the modified Seminario method for bonds. This seems to be when we are not at the true minimum and we should probably raise an error if the force constants are calculated to be negative.

[2021-09-14 11:28] jthorton commented on #219
done in #225

[2021-09-14 11:28] #219 closed

[2021-09-14 11:30] #220 closed

[2021-09-14 11:31] #232 closed

[2022-02-24 15:46] jthorton commented on #224
Multi conformer input is now supported and we can look at pre-optimisation and fragmentation next.

[2022-03-07 22:48] ankur9511 commented on #144
(I am just a user of QUBEkit)
There could be a way to save psi density as fchk file, then use multiwfn/gmultiwfn to create /cube/.cub file, and then use that as input in chargemol that is compatible with .cube/.cub file.

[2022-03-09 10:50] jthorton commented on #144
@ankur9511 This is definitely something we want to look at in future, either the pathway you describe or trying to create a wfx/wfn object from the wavefunction in psi4 and using this with chargemol.

For now, Psi4 can directly perform [MBIS](https://doi.org/10.1021/acs.jctc.6b00456) charge partitioning and we have recently fit a QUBEKit model to work with this which you can read about [here](http

[2022-03-09 10:50] #144 closed

[2022-03-09 10:53] jthorton commented on #268
@ph7klw76 The newest version of QUBEKit (2.1.1) on conda-forge has fixed many issues we were having with complicated environments and performance, I would recommend creating a new environment to install the latest version as some packages have changed quite a lot. Please let me know if you still have the issue you mention with the newest version.

[2022-03-11 18:39] jennyfothergill commented on #268
I am also having issues with optimizing a simple methane model. Gaussian16 is accessible as g16 and I am using qubekit 2.1.1 through conda-forge. The error I get is
[code]

[2022-03-14 12:40] jthorton commented on #268
Hi, @jennyfothergill thanks for letting us know, please can you check for a json file in the optimisation/conformer folder this should have a more detailed error message from QCEngine.

[2022-03-14 22:30] Ajaykhanna opened #301 "RdKit _CIPError Keyerror"
Hi, I'm trying to parameterize two molecules "NBD" & "Methoxy Coumarin" in their ground state but I keep landing on this error:
`"""
Traceback (most recent call last):
  File "/home/akhanna2/anaconda3/envs/qubekit_2022/lib/python3.9/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args, **kwds))
  File "/home/akhanna2/qubekit/ndb_nh2/qubekit_2022/qubekit/qubekit/engines/geom

[2022-03-14 23:07] jennyfothergill commented on #268
Thanks for responding so quickly :) here is the [results.json file](https://gist.github.com/jennyfothergill/d5e35ebebedd3d48ba56e073bd6a7c3b)

Looks to me that it is having trouble reading the output file?
```ValueError: could not convert string to float: 'Nonadiabatic'```
Let me know if I can give more info.

[2022-03-15 11:23] jthorton commented on #268
No problem and thanks for the json file, it looks like the format of the gaussian fchk file has changed between Gaussian09 and Gaussian16 and unfortunately we don't have access to Gaussian16 to see whats changed. Would it be possible for you to provide a fchk file from a gradient calculation (the gaussian input file should be generated in the optimization folder) which will allow us to update QUBE

[2022-03-15 19:26] djcole56 commented on #268
Worth mentioning too @jennyfothergill that you could instead use psi4, which is an open source package, for the quantum chemistry calculations if it includes all the functionality you need.

[2022-03-15 20:43] jennyfothergill commented on #268
@jthorton I don't see an fchk file in the `optimization/conformer_0` directory, but I do see a file called `gaussian.com`.
Here is a [google drive link](https://drive.google.com/drive/folders/13omg6zWQPStT77GvtqeRYqGbx57F6Bss?usp=sharing) to the com file and the chk file I got when I ran said com file.

I think in the meantime I will look into using psi4. Thank you for the suggestion @djcole56

[2022-03-15 22:24] jennyfothergill commented on #268
Please forgive me if I am missing something basic: I have installed psi4 via conda, set my config file to use psi4 (I couldn't find any example of how to do this, so I hope it is correct), and am now getting the following error. See result.json and config.json in [this drive link](https://drive.google.com/drive/folders/13omg6zWQPStT77GvtqeRYqGbx57F6Bss?usp=sharing)

Thank you for your help

[2022-03-16 04:45] Ajaykhanna commented on #301
Hi, Josh; thank you for providing your feedback. Using the SDF formatted file you have provided, the parameterization is working fine. I'm on step 09_torsion_scan, and I'll update you again once the parameterization is done.

Yes, I tried working with smiles for this molecule, but when I try to run:
 "`qubekit run -sm COC1=CC2=C(C=C1)C(=CC(=O)O2)CC(=O)O -n methoxycoumarin`", I get into an error
`

[2022-03-16 18:15] jthorton commented on #301
That's good news that the run is now working! For the smiles issue, I think any smiles which contain brackets just need to be inside quotes so the input would become `qubekit run -sm 'COC1=CC2=C(C=C1)C(=CC(=O)O2)CC(=O)O' -n methoxycoumarin`  Ill make sure to update the documentation with more information about using this input.

[2022-03-16 18:53] Ajaykhanna commented on #301
Yes, I just realized this. I was going through babel file format [commands](https://openbabel.org/docs/dev/Command-line_tools/babel.html), and I found out how to add work with smile strings with brackets. Yes, it works well now with the quotes around the smile string.

[2022-03-16 18:53] #301 closed

[2022-03-16 19:48] djcole56 commented on #268
Also easiest way to run with psi4, is something like this (for methanol): `qubekit run -sm "CO" -n methanol -p 3b`

The "-p" option refers to the set of protocols in Table 1 here: https://doi.org/10.26434/chemrxiv-2021-hsf8l (ie protocols 3b and 5e use psi4).

Apologies we haven't got around to documenting that yet.

[2022-03-17 02:51] Ajaykhanna commented on #268
I can second this issue, initially, I was using Gaussian16 and I landed on the same issue "`qubekit.utils.exceptions.GeometryOptimisationError: No molecule conformer could be optimized to GAU TIGHT`" but when I switched to Gaussian09 it all worked fine there was no such error.  To make sure that's the case and it is not a problem with Gaussian16, I just g16 conformer_0/gaussian.com file and it als

[2022-03-18 11:54] jthorton commented on #268
Thanks @Ajaykhanna for the fchk file it turns out we just needed to add an extra keyword to check against and the fix is in master https://github.com/qubekit/QUBEKit/pull/302. Would it be possible for you to try and run a small molecule like methane all the way with gaussian16 to make sure the other stages still work?

[2022-03-18 16:42] Ajaykhanna commented on #268
Hi, Josh, great, sure, on it, update you soon

[2022-03-18 19:00] jennyfothergill commented on #268
@jthorton I get the same error when I run `qubekit run -i methane.pdb -p 3b`. Psi4 is installed via conda, but it seems like there is some issue on their end... The error I get seems like it's not linking a clib correctly in the conda package?
[code]
Related to [this issue](http://forum.psicode.org/t/problem-with-building-psi4-1-3/1416) I think.

However, cloning the latest master and using with g

[2022-04-11 14:01] jthorton opened #304 "Torsiondrive state file format is wrong"
The torsiondrive state file format is wrong meaning that restarting a torsiondrive is not possible without losing all current progress, the dihedral values need to be corrected.

[2022-04-18 21:43] gwenwhite opened #305 "Torsion scan failing"
Hello, I am trying to run a molecule in QUBEKit but it keeps failing on the torsion_scanner step. The molecule is a fragment of a bigger molecule. For reference, I have attached a copy of the .sdf file I am using,  the QUBEKit.err file that is being outputted, and an image outlining the fragment of the molecule I am using.

[y6-fring5.sdf.txt](https://github.com/qubekit/QUBEKit/files/8508285/y6-fr

[2022-04-19 09:44] jthorton commented on #305
Hi, @gwenwhite thanks for opening the issue and attaching all of the relevant files this was very helpful. I think the issue is the input SDF file, the file implies single bonds between all atoms which is not correct and we use smarts queries to identify rotatable bonds which will be scanned and refit in this case the linear triple bonds are scanned due to the incorrect bond orders. For this molec

[2022-04-19 20:58] gwenwhite commented on #305
This was very helpful. Thank you!

[2022-04-19 20:58] #305 closed

[2022-04-21 09:39] jthorton opened #306 "XML combiner"
Now we know the xml combiner [here](https://github.com/CRingrose94/QUBEKit2Testing/blob/master/scripts/xml_combiner.py) works it would be good to incorporate this into the qubekit CLI. I think it might make sense to expose the available fitting parameters as options on the CLI so users who want to fit the Rfree for elements H, C, N, O for a selection of molecules could use a command like
`qubekit

[2022-04-21 09:46] jthorton commented on #306
We could also make the parameterise option in the command optional meaning by default it would add parameterise tags to all Rfree present in the set of molecules and alpha and beta by default?

[2022-05-09 16:15] jthorton commented on #306
Implemented in #307.

[2022-05-09 16:15] #306 closed

[2022-05-11 09:54] howlfwq opened #310 "How to generate GROMACS format files"
Hi,
I'm trying to use qubekit to get bespoke force filed parameters. I tested it with ethanol. It worked without error. However, I checked the folder of "final parameter". The default format seems to be OpenMM. I created a config file and found the following command:
 "parametrisation": {
    "type": "OpenFF",
    "force_field": "openff_unconstrained-1.3.0.offxml"
Is this the correct spot to chang

[2022-05-11 10:35] jthorton commented on #310
Hi @howlfwq thanks for the question this is something we defiantly need to document as it will help a lot of users! The best way to convert to GROMACS is via [ParmEd](https://github.com/ParmEd/ParmEd) using the pdb and XML files in the `final_parameters` folder, I would create an openmm system and pass this to parmed and then use it to write out the GROMACS files, note that a force field with virt

[2022-05-16 12:33] jthorton opened #312 "Write parameters to offxmls"
To use more of the OpenFF stack, we need to be able to write force fields to the [SMIRNOFF](https://docs.openforcefield.org/projects/toolkit/en/stable/users/smirnoff.html) offxml format. We should be able to use [chemper](https://github.com/MobleyLab/chemper) to generate the smirks patterns for the force field terms and encode the entire molecule into the pattern to ensure they are bespoke to the

[2022-05-18 12:33] howlfwq opened #314 "Optimization always failed"
Hi,
I tried a molecule with 63 atoms. And I keep getting this error:"qubekit.utils.exceptions.WorkFlowExecutionError: The workflow stopped unexpectedly due to the following error at stage: optimisation". The content in the QUBEKit.err file was copied in the following paragraph. Do you know what causes this? And how can I fix this? If you need more information about this error, please let me know.

[2022-05-18 13:08] jthorton commented on #314
Hi @howlfwq thanks for opening the issue, it looks like QUBEKit is struggling to keep track of the stereochemistry information in the molecule meaning its not round-tripping to rdkit and back. Are you able to share the molecule so that I can look into it, if not I would make sure the input molecule has all stereochemistry fully defined via smiles or 3D sdf if possible? It could be that the stereoc

[2022-05-19 09:14] jthorton commented on #310
Very strange can you share the follwing information which should help me work out whats going on:
1. the qubekit command used to run ethanol
2. the output pdb and xml file
3. the output from conda list
Thanks!

[2022-05-20 03:13] howlfwq commented on #310
1. qubekit run -i ETOH.pdb -s non_bonded (If I don't skip non-bonded, qubekit will report and error.
2.I have attached all the output files from qubekit.
[QUBEKit_ETOH.zip](https://github.com/qubekit/QUBEKit/files/8735577/QUBEKit_ETOH.zip)
3. (qubekit) user@***08:~/qubekit/ETOH$ qubekit run -i ETOH.pdb -s non_bonded                                                                             Warnin

[2022-05-20 08:46] jthorton opened #315 "Raise an error if the input is a complex"
QUBEKit can not parameterise a complex in a single go and so we should raise an informative error at the start of the workflow if we encounter any.

[2022-05-20 08:52] jthorton commented on #310
Thanks for sharing the QUBEKit folder @howlfwq that helped identify the issue, it seems that the input pdb file is missing a bond between the oxygen and hydrogen which is causing the warnings that are printed to screen about one hydrogen having no neighbours etc. Please can you try running it again starting from smiles or from a pdb/sdf with full explicit connectivity and let me know how you get o

[2022-05-24 14:13] howlfwq commented on #310
I have tried ethnol with connectivity. I got correct parameter files and Parmed converted them successfully. Thank you again!

[2022-05-26 12:52] jthorton commented on #314
Hi @howlfwq are you able to share the molecule either as a file or as a smiles string so that I can look into it? I would also check that the stereochemistry is entirely defined by passing it to the openff-toolkit and looking for warnings/errors about stereochemistry if not you can use the toolkit to enumerate the stereocenters and feed your desired molecule into qubekit.

[2022-06-08 10:03] howlfwq commented on #314
Hi @jthorton Thanks a lot. I finally made my moleule run. I need to modify the conjugate structures of the molecule, ie. all the double and single bonds in the ring and around the N atom, etc. I also tried openff_bespokefit. It includes a fragmentation process for torsion fit. The reference data can be calculated by XTB, ANI, or Psi4. Other than that, is it similiar to qubekit?

[2022-06-09 08:58] jthorton commented on #314
Thats great news glad you were able to get it to work, ill close the issue for now then feel free to open again if you have more trouble.

They are slightly different in that BepokeFit can give bespoke torsions for OpenFF force fields whereas qubekit gives an almost entirely custom force field, so new bonds, angles torsions, charges and LJ parameters. It also has the ability to provide virtual sit

[2022-06-09 08:58] #314 closed

[2022-06-09 08:58] #310 closed

[2022-06-14 07:46] howlfwq opened #317 "Gaussian Input format"
1. The default computational method is wb97X-D/6-311++G(d,p). How can I change it to some semi-empirical methods?
2. Also the default command has "SCF=(XQC, MaxConventionalCycles=300) nosymm Force=NoStep Int(Grid=UltraFine)'. Can I modify it? I have installed the dev version. I couldn't find the right place to edit the source code.
3. The limit of n_workers for torsion driver is 4. So the maximum

[2022-06-14 08:35] #312 closed

[2022-06-14 09:01] jthorton commented on #317
Hi @howlfwq thanks for the issue hopefully the points below help to answer your questions!

1. To change the QM method you will need to make a config file either via python or using the CLI, from the CLI you can do `qubekit config create <config_name.json> -p <base protocol>` this will make a config which corresponds to the chosen protocol. You can then edit the option `qc_options` which takes the

[2022-06-17 05:32] howlfwq commented on #317
Is it possible to include ORCA for the QM calculations since I know some QM methods are faster and more accurate but only available in ORCA.

[2022-06-17 08:27] jthorton commented on #317
Not currently we run all of our QM calculations through QCEngine to have only one consistent interface to maintain and the [ORCA harness](https://github.com/MolSSI/QCEngine/pull/178) never got finished, I am sure they would welcome your contribution though if you are familiar with the code.

Yes by default we parameterise using OpenFF, some of these parameters are then replaced like the bond, angl

[2022-06-20 09:44] howlfwq commented on #317
I saw the 15 protocols, which include gaussian and psi4. Is torchani available in Qubekit?

[2022-06-21 12:40] jthorton opened #318 "Vsite error reduction factor"
Due to random noise which can appear in the optimisation, density calculation and aim partitioning the vsite fitting of some molecules (mol 22 from the test set) can be inconsistent. In the next refit, we should look at changing the error reduction factor to make sure extra sites are only added if the reduction in error is significant.

[2022-06-24 10:49] jthorton commented on #317
Thanks for testing this out @howlfwq normally we just use the ani models(1 and 2) as pre-optimisation methods as we strugle with convergence issues. I can fix this issue though which will allow you to use the hessian matrix predicted by ani note that I am not sure how accurate the parameters will be. You will also need to update the config file to use a method and basis in psi4 for the charge calc

[2022-06-29 10:36] howlfwq commented on #317
Thank you @jthorton! We are about to have an updated ANI version to fix some issues. And I may use that version instead of the ani1&2. Can you fix that issue or maybe give me some hints to fix that? Right now, I found that error releated to the 'qcvar' part, which inclues the WIBERG_LOWDIN_INDICES. This 'WIBERG_LOWDIN_INDICES' calculation is calculated in gaussian but not in ANI.

For the psi4, th

[2022-07-06 08:45] jthorton commented on #317
Hi @howlfwq this should now be fixed in master by #320.

A new version of ANI sounds very exciting!, we have tested using ANI quite a lot for torsiondrives and would be very interested in trying out any new version if you could give us access to the model?

We have found that the best way to avoid conflicts with Psi4 is to include it when creating the environment and that using mamba also helps. T

[2022-07-08 07:51] howlfwq commented on #317
Hi @jthorton, I have tested the new version. The hessian part has been fixed, but still get error for the next step (charges). I think it's still related to the qcvar which is required for the mbis charges.
[QUBEKit_err.txt](https://github.com/qubekit/QUBEKit/files/9070022/QUBEKit_err.txt)

[2022-07-08 08:51] jthorton commented on #317
Glad the new version works with ANI for the hessian. For the charge stage you will need to use Gaussian or Psi4 unless the new version of ANI can predict MBIS properties (like AIMNET). If not you will need to edit the workflow config file section on charges, there are extra optional fields for the program method and basis which are seperate from the global options and allow a different QC setup fo

[2022-07-11 13:05] jthorton commented on #304
Fixed in #322.

[2022-07-11 13:05] #304 closed

[2022-07-14 08:51] jthorton commented on #317
@howlfwq I am going to close this now as I think your original issue is fixed, feel free to reopen this if not or another issue if you have any other problems using ANI.

[2022-07-14 08:51] #317 closed

[2022-08-10 13:25] bieniekmateusz opened #327 "openff-1.3.0 optimisation with a missing openmmforcefields"
Add a better message rather than "openmm not found". Potentially disclose in the error message the overall issue.

[2022-08-10 18:22] outburned opened #328 "Final Parameters Combination Rules"
Hello,

I noticed that the combination rule used in the `final_parameters` output file in QUBEKit is in the Amber format. For instance, this is how it's written in `.xml` and `.gro` file format respectively.
[code]
[code]
Is it possible to change the format of the combination rule to that of other force fields?

I want to solvate this molecule with a given water model.

[2022-08-18 08:23] jthorton commented on #328
Hi @outburned, the nonbonded and torsional parameters output by qubekit are now optimised to work with the Amber style combination rules and changing this will probably degrade the performance of the parameters so it is not advised to change them. If you really wanted to though you could manually change the comb-rule in the gromacs file, or if you wanted to run using openmm you would have to use a

[2022-08-23 09:54] outburned commented on #328
Hi, thanks for the clarification!

[2022-08-23 09:54] #328 closed

[2022-08-24 16:13] jthorton opened #332 "Add units to fields?"
It might be helpful to start using a unit package like [openff-units](https://github.com/openforcefield/openff-units) to help keep track of units for force field parameters, hessians and geometries as we regularly swap between nanometer, bohr and angstrom for the geometries for example. The package also provides an easy way to convert between different unit systems and is pulled in by the openff-t

[2022-08-26 08:49] jthorton commented on #261
After reworking the testing environments we can now run MBIS tests!

[2022-08-26 08:49] #261 closed

[2022-08-31 07:59] howlfwq opened #334 "Use different qcoptions for optimisation and torsion scanner"
Hi,
Since torsion scanner really takes time and ANI convergence issues on optimisation, I'm wondering if qubekit can use gaussian/psi4 for optimization/hessian calculations, and then use ANI only for single point energy calculations of tosion scan.

[2022-09-05 15:42] jthorton commented on #334
HI @howlfwq, this is something I have been looking into while developing [Bespokefit](https://github.com/openforcefield/openff-bespokefit) and we would love to add this to QUBEKit as well. For now we are working on [fragmentation](https://github.com/qubekit/QUBEKit/pull/321) to help speed up the torsion scans then we can look into this.

[2022-09-07 09:00] howlfwq commented on #334
Hi @jthorton, when I use ANI to only run the torsion scan, I got the error: "geometric.errors.GeomOptNotConvergedError: Optimizer.optimizeGeometry() failed to converge." Can I only calculate the energy rather than optimize the structure in the torsion scan part?

[2022-09-07 09:21] UnWaDo opened #335 "QUBEKit fails with linear molecules"
Assume you want to parametrise Br<sub>2</sub> (for clathrates calculations or whatever else). QUBEKit fails at stage bonded_parameters.

## Reproducing the problem

[code]

<details>
<summary>Error traceback</summary>

[code]
</details>

## What to do?

<details>
<summary>Main part of traceback (in my opinion)</summary>

[code]
</details>

According to spolier above, the main problem is in `mod_se

[2022-09-07 10:06] jthorton commented on #334
Unfortunately, this is common when using Geometric and the ani model to perform optimisations and we haven't found a way around it yet.

Currently, this is not an option in the default QUBEKit workflow, but with a small amount of scripting, you could do this manually and insert the data into the QUBEKit workflow. How do you plan to generate the geometries for the energy calculations?

[2022-09-07 10:09] UnWaDo commented on #335
In case of HHal (and I<sub>2</sub> also) the problem is caused by the fact, that while saving virtual site, the program requires at least three atoms index, which is impossible in case of diatomic molecule.

Possible ways to solve the problem is either to find a way to introduce virtual site to OpenMM's forcefield based on only two atoms or to ignore virtual site for diatomic molecules.

I created

[2022-09-09 09:34] jthorton commented on #335
Hi, @UnWaDo thanks for the excellent error report! The angle part is defiantly a bug which I will fix today this was definitely an oversite on our part as we did not envision this use case. With regards to the virtual sites we have tried to use a single type known as the `LocalCoordinateSite` which is based on three atoms as you point out to make it easier to write out our OpenMM input files. I th

[2022-09-09 16:58] UnWaDo commented on #335
Hello, @jthorton!
Thank you for your response!

I made some modifications by myself (made `.angles` to return empty list instead of `None` and `_save_virtual_sites` to do nothing in case of diatomic molecules) and it worked fine for me, but surprisingly enough it gave charges for iodine equal to −1.38369 and +1.38369. Other halogens are fine, so it is kind of unexpected for me

Not sure if it is a

[2022-09-13 02:42] howlfwq commented on #334
I was thinking we just use xtb to optimize the geometries generated by the qubekit during the torsion scan and then use ANI to calculate their energy. A JCIM paper has done this with ANI. Here is the link: [https://pubs.acs.org/doi/abs/10.1021/acs.jcim.9b00439]

[2022-09-13 10:36] jthorton commented on #335
Hi @UnWaDo, I have now made those changes and after some testing, I have found that the H-Hal molecules have an initial ESP error on the hal atom higher than our threshold which is why QUBEKit tries to fit vsites and causes an error (Ill fix this in another PR). Whereas the hal-hal molecules seem to not need the vsites.

For I-I I am not able to run this as the basis set we use in protocol 5b has

[2022-09-13 10:47] jthorton commented on #217
- [X] Fragment the input molecule with openff fragmenter
- [X] Deduplicate the fragments with the parent molecule
- [X] Run the molecule/ fragments through each of the stages
- [ ] Build a offxml with transferable smirks for torsion fitting
- [ ] Load in the optimised parameters back to the QUBEKit molecule and fragments

[2022-09-26 07:13] UnWaDo opened #338 "Output XML file format"
Hello!

Before finding issue #328 I thought, that the resulting force field is in OpenMM format. However you noted in mentioned issue, that epsilon and sigma parameters can not be used in OpenMM directly

So what is the actual sense of parameters from `final_parameters`' `.xml` file? Do other parameters follow OpenMM notation? (it is important, _e.g._ for constant `k` in HarmonicBondForce, which m

[2022-09-27 15:45] jthorton commented on #338
Hi @UnWaDo sorry for the confusion hopefully this helps!

The XML files in the `final_parameters` are in a valid OpenMM format and can be used directly without modification to simulate the parameterised molecule using the default AMBER functional form and combination rules, see [here](http://docs.openmm.org/6.2.0/userguide/theory.html#nonbondedforce) for more details and definitions of the paramet

[2022-09-27 22:20] UnWaDo commented on #338
Thank you very much!

I used OpenMM's ForceField for my calculations, but then I saw that issue and was a little concerned if I was doing something wrong.

[2022-09-28 08:17] #338 closed

[2022-09-28 08:18] #268 closed

[2022-10-11 13:22] dombrowsky opened #344 "QM Optimisation fails"
Hi,

I am currently trying to generate parameters for a molecule and it consistently fails in the optimization step because no conformer was found that could be optimized to GAU TIGHT. I am running qubekit with psi4 using 6-311++G as basis and wb97x-d as method. Charges are handled with MBISCharges in psi4 with water as medium solvent and angstrom as units. Additionally, I added the Rfree paramete

[2022-10-24 08:50] jthorton commented on #344
Hi, @dombrowsky thanks for the report it seems like the pre-opt method is not helping as much as we hoped in this case. I would recommend trying to pre-optimise the molecule using QM at some cheaper theory level which might get you close to the minimum either using qubekit or separately and use that as input into the workflow.

Note that the Rfree parameters were not optimised for this combination

[2022-11-04 11:03] howlfwq opened #347 "Got stuck in torsion_scanner"
Hi @jthorton ,
I 'm running qubekit on a molecule using g09. The method I used is protocol 1a. All optimization, hessian calculations work well. During the torsion scanner, in the first dihedral bond (SCAN_8_9_10_11), it finished normally. However, in the second dehedral bond (SCAN_1_2_4_5), it got stuck in the grid_point_180_job_2. It generated the gaussion input(.com) file, and no results for a

[2022-11-23 13:52] #217 closed